<div class="index-container">
  <img width="300" src="/images/beer.png" class ="center">
  <button type="button" id="radom" onclick ="location.href='/beers'">Check the  Beer</button>
  <button type="button"  id="random" onclick ="location.href='/randomBeer'">Check the random Beer</button>  
</div>